<h1>New qualificacao</h1>

<%= render 'form' %>

<%= link_to 'Back', qualificacoes_path %>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="http://4.bp.blogspot.com/-4ASp3pFQ6Aw/UHbz_z6KMDI/AAAAAAAACaM/7r9ErxWGj-Q/s1600/HAMBURGUER+DESENHO.png"> 